.dashboard__content {
  padding: 72px 0px;
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: repeat(2, auto);
  row-gap: 60px;
  &__stats {
    &_row {
      margin-top: 28px;
      display: flex;
      justify-items: start;
      gap: 24px;
    }
  }
  &__cards {
    &__row {
      margin-top: 28px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 24px;
      margin-bottom: 28px;
    }
    &__btnAdd {
      display: flex;
      justify-content: center;
      gap: 40px;
      button {
        width: 200px;
        border-radius: 6px;
      }
    }
  }

}