.my__meals__content {
    padding-top: 72px;
    padding-bottom: 72px;
    &__summary {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
        &__row {
            display: flex;
            justify-content: space-between;
            gap: 14px;
        }
    }
}