.my__meals__content {
    padding-top: 72px;
    &__summary {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 14px;
    }
}