.button {
  &__content {
    padding: 10px;
    background: var(--color-linear);
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 50px;
    border: none;
    width: 100%;
    p {
      margin-bottom: 0;
      font-family: 14px;
      line-height: 17.07px;
      font-weight: 600;
    }
    img {
      height: 17px;
      width: 17px;
    }
  }

}