.FormInput {
  margin-bottom: 24px;

  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color:var(--color-blue-navy);
  }

  input {
    background: var(--color-white);
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    color: var(--color-gray);
    font-size: 14px;
    width: calc(100% - 32px);
    outline: none;
  }
};